.admin-container {
    /* margin-left: 3rem; */
    margin-top: 2rem;
    background-color: #eef0f54e;
}

td {
    padding-left: 6rem;
}

.actionItems {
    padding: 2rem;
}

.button {
    width: 7rem;
    margin: 1rem;
    padding: 4px;
}